<p>
<form id="form2" action="/" method="POST">
    <table id="tbl_data" class="tablesorter" align="center" border="1" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width:150px">Employee ID</th>
                <th>Employee Name</th>
                <th>BU</th>
                <th>US's patents in Total</th>
                <th>Other Patents in Total</th>
            </tr>
        </thead>
        <tbody>
            <% if @patents.any? %>
            <% @patents.each do |patent| %>
            <tr>
                <td><a href="/patent/<%= patent.employee_id %>"><%= patent.employee_id %></a></td>
                <td><%= patent.employee_name %></td>
                <td><%= patent.bu %></td>
                <td><%= patent.total_us %></td>
                <td><%= patent.total_others %></td>
            </tr>
            <% end %>
            <% else %>
                <tr>
                    <td colspan="5" align="center">
                        <label style="color:red">No results found.</label>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</form>