<p>
<form id="form2" action="/" method="POST">
    <table align="center" width="70%" border="1" cellpadding="0" cellspacing="0">
        <col style="width:20%"></col>
        <col style="width:20%"></col>
        <col style="width:28%"></col>
        <col style="width:32%"></col>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>
                Total patents in US&nbsp;&nbsp;
                <input id="btn_us" style="width:50px" type="button" value="<%= session[:us_tag] %>" />    
            </th>
            <th>
                Total Patents in others&nbsp;&nbsp;
                <input id="btn_oth" style="width:50px" type="button" value="<%= session[:oth_tag] %>" />
            </th>
        </tr>
        <% if @patents.any? %>
            <% @patents.each do |patent| %>
            <tr>
                <td><a href="/patent/<%= patent.employee_id %>"><%= patent.employee_id %></a></td>
                <td><%= patent.employee_name %></td>
                <td><%= patent.total_us %></td>
                <td><%= patent.total_others %></td>
            </tr>
            <% end %>
        <% else %>
            <tr>
                <td colspan="4" align="center">
                    <label style="color:red">No results found.</label>
                </td>
            </tr>
        <% end %>
    </table>
</form>
<p>
    <a href="/new">Add a new patent</a>
<p>
    <form action="/download/temp" method="POST">
        <input type="submit" value="Export to csv" />
    </form>