<% title="Patent Historical Data" %>
<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf8">
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/layout.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.js" ></script>
    <script type="text/javascript" src="/js/layout.js" ></script>
    <script type="text/javascript">
    $(function() {
        var role = <%= session[:user_level]  %>;
        alert(role);
        if (role != "admin") {
            $("#div_ul li .a_new").attr("href", "#");
            $("#tbl_data tbody tr a").attr("href", "#")

            $("#div_ul li .a_new").click(function(){
                alert("Sorry, Access denied.");
                return false;
            });

            $("#tbl_data tbody tr a").click(function(){
                alert("Sorry, Access denied.");
                return false;
            });
        }
    });
    </script>
</head>
<body>
    <div id="base-header">
    </div>
    <div class="div_top">
        <% if session[:username] %>
            Welcome, <%= session[:username] %>.&emsp;
        <% end %>
        <a href="/logout">Log Out</a>
    </div>
    <h1 align="center" style="clear: both"><%= title %></h1>
    <center>
    <form id="form1" action="/" method="POST">
        <table align="center" width="80%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td width="35%">
                    <label for="txt_id">Employee ID:</label>
                    <input type="text" name="txt_id" style="width:60%" value="<%= @emp_id %>" />
                </td>
                <td width="35%">
                    <label for="txt_nm">Employee Name:</label>
                    <input type="text" name="txt_nm" style="width:60%" value="<%= @emp_nm %>" />
                </td>
                <td width="20%">
                    <label for="sel_bu">BU:</label>
                    <select name="sel_bu" style="width:80%">
                    <% ["", "EUC", "MBU", "NSBU", "Platform", "Product Engineering", "SAS"].each do |bu| %>
                        <option <%= 'selected="selected"' if bu == @sel_bu%> value="<%= bu %>"><%= bu %></option>
                    <% end %>
                    </select>
                </td>
                <td style="text-align:center;">
                    <button id="btn" type="submit">Search</button>
                </td>
            </tr>
        </table>
    </form>
    <%= yield %>
    <p>
        <div id="pagination">
            <a href="#">First</a>
            <a href="#">«</a>
            <a href="#">»</a>
            <a href="#">Last</a>
            <a href="#">All</a>
        </div>
    <p>   
        <a href="/">Back to Index</a>
    <div id="div_ul">
        <ul>
            <li><a class="a_new" href="/new">Add a new record</a></li>
            <li><a href="/csv">Import & Export CSV</a></li>
        </ul>
    </div>
    <p>
        <div id="base-footer">
            <a href="mailto:rfang@vmware.com">Contact Me</a>
            <br />
                &copy; 2013 VMware, Inc.
        </div>
</body>
</html>
