<% title="Patent Historical Data" %>
<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf8">
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <style type="text/css">
    body {
        margin: 0px;
    }

    #base-header {
        margin: 0px;
        background-image: url(../img/source_header.gif);
        color: white;
        font-weight: bold;
        height: 1.2em;
    }

    .div_top {
        float: right;
        padding: 0.25em 1em;
        font-family: verdana, arial, sans-serif;
        font-size: small;
    }

    .div_ul {
        width: 80px;
    }
    .div_ul ul {
        list-style-position: inside;
        list-style: square;
        padding-left: 0px;
        margin: 0 auto;
        text-align: left;
    }
    .div_ul li {
        width: 150px;
    }

    #form1 {
        margin: 0 0px;
        text-align: center;
    }

    .base-footer {
        font-family: verdana, arial, sans-serif;
        font-size: x-small;
        border-top: 1px solid #888;
        margin: 1em auto 0 auto;
        padding: 1em;
        text-align: center;
    }
    </style>
    <script type="text/javascript" src="/jquery-latest.js"></script>
    <script type="text/javascript" src="/jquery.tablesorter.js" ></script>
    <script type="text/javascript">
    /*
        window.onload = function() {
            alert( "welcome" );
        }
    */
    
    $(function() {
        //alert(<%= @emp_id %>);
        
        /*
        $("#btn_us").click(function() {
            $('#form2').attr("action", "/");
            $('#form2').submit();
        });
        
        $("#btn_oth").click(function() {
            $('#form2').attr("action", "/index");
            $('#form2').submit();
        });
        */

        $("#tbl_data").tablesorter({
            sortList:[[0,0]], widgets: ['zebra']
        });
    });
    </script>
</head>
<body>
    <div id="base-header">
    </div>
    <div class="div_top">
        <% if session[:username] %>
            Welcome, <%= session[:username] %>.&emsp;
        <% end %>
        <a href="/logout">Log Out</a>
    </div>
    <h1 align="center" style="clear: both"><%= title %></h1>
    <center>
    <form id="form1" action="/" method="POST">
        <table align="center" width="80%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td width="35%">
                    <label for="txt_id">Employee ID:</label>
                    <input type="text" name="txt_id" style="width:60%" value="<%= @emp_id %>" />
                </td>
                <td width="35%">
                    <label for="txt_nm">Employee Name:</label>
                    <input type="text" name="txt_nm" style="width:60%" value="<%= @emp_nm %>" />
                </td>
                <td width="20%">
                    <label for="sel_bu">BU:</label>
                    <select name="sel_bu" style="width:80%">
                    <% ["", "EUC", "NSBU", "Platform", "Product Engineering", "SAS"].each do |bu| %>
                        <option <%= 'selected="selected"' if bu == @sel_bu%> value="<%= bu %>"><%= bu %></option>
                    <% end %>
                    </select>
                </td>
                <td style="text-align:center;">
                    <button id="btn" type="submit">Search</button>
                </td>
            </tr>
        </table>
    </form>
    <%= yield %>
    <p>   
    <div class="div_ul">
        <ul>
            <li><a href="/">Back to Index</a></li>
            <li><a href="/new">Add a new record</a></li>
            <li><a href="/csv">Import & Export CSV</a></li>
        </ul>
    </div>
    <p>
        <div class="base-footer">
            <a href="mailto:rfang@vmware.com">Contact Me</a>
            <br />
                &copy; 2013 VMware, Inc.
        </div>
</body>
</html>
