<% title="Patent Historical Data" %>
<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf8">
    <script type="text/javascript" src="/js/jquery-latest.js"></script>
    <script type="text/javascript">
    $(function() {
        $("#btn_del").click(function() {
            var chk = confirm("Sure to delete?", function() {}, null);
            if (chk) {
                $('#frm_del').submit();                
            }
        });
    });
    </script>
</head>
<body>
    <p>Employee ID:
        <%= @patent.employee_id %>
    <p>Employee Name:
        <%= @patent.employee_name %>
    <p>BU:
        <%= @patent.bu %>
    <p>Total patents in US:
        <%= @patent.total_us %>
    <p>Total patents in other countries:
        <%= @patent.total_others %>
    <p> 
        <a href="/patent/<%= @patent.employee_id %>/edit">Edit this record</a>

    <form id="frm_del" action="/patent/<%= @patent.employee_id %>" method='POST'>
        <input type="hidden" name="_method" value="DELETE" />
        <input type="button" id="btn_del" value="Delete this record" />
    </form>
    
    <p> 
        <a href="/">Back to Index</a>
</body>
</html>